.container {
  max-width: 1294px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 44px;
}

.card__row {
  display: flex;
  column-gap: 122px;
  align-items: center;
}

.card__main-img {
  max-width: 622px;
  margin-bottom: 20px;
}

.card__img-block {
  display: flex;
  column-gap: 20px;
}
h1 {
  font-family: "Jost";
  font-style: normal;
}
.kv {
  margin-top: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #6a6a6a;
}

h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;

  color: #000000;
}
.frame {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 32px;

  width: 512px;
  height: 146px;

  border: 1px solid #d2d2d2;
  margin-bottom: 77px;
  margin-top: 50px;
}
.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
}
h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;

  color: #000000;
}
.map {
  display: block;
  width: 1264px;
  height: 537px;
  left: 88px;
  top: 1683px;
  margin-bottom: 210px;
}
