html{
  font-size: 62.5%;
}

.top{
  padding: 7.7rem 0;
  background: url("assets/bg-map.png") center / contain no-repeat, #153B86;
  &__row{
	display: grid;
	grid-template-columns: max-content 1fr;
	justify-content: space-around;
	align-items: center;
	column-gap: 9.6rem;
  }
  &__search{
	grid-column: 1 / 2;
	display: flex;
	position: relative;
	&-select{
	  padding: 1.6rem 1.7rem;
	  background: #F3F3F3;
	  border: .1rem solid #D2D2D2;
	  font-size: 1.8rem;
	  display: flex;
	  column-gap: 1rem;
	  justify-content: center;
	  align-items: center;
	}
	&-input{
	  width: 64.4rem;
	  padding: 1.6rem 0 1.6rem 8rem;
	  font-size: 1.6rem;

	  &:focus{
		outline: none;
	  }
	  &-icon{
		position: absolute;
		top: 50%;
		left: 18%;
		transform: translateY(-50%);
	  }
	}
	&-icon{
	  position: absolute;
	  top: 50%;
	  right: 21%;
	  transform: translateY(-50%);
	}
  }

  &__img{
	grid-column: 2 / -1;
	height: 34.6rem;
  }
}

.container{
  max-width: 129.4rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title-first{
  color: white;
  &__main,
  &__secondary{
	font-weight: 600;
	font-size: 4rem;
  }
  &__main{
	line-height: 5.8rem;
	animation-name: leftToRight;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: ease;
	backface-visibility: hidden;
	animation-fill-mode: backwards;
  }

  &__secondary{
	animation-name: rightToLeft;
	animation-duration: 2.7s;
	animation-delay: 1s;
	animation-timing-function: ease;
	backface-visibility: hidden;
	animation-fill-mode: backwards;
	margin-bottom: 6rem;
  }
}

.title-second{
  font-weight: 500;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}