html {
  font-size: 62.5%;
}

.top {
  padding: 7.7rem 0;
  background: url("assets/bg-map.png") center/contain no-repeat, #153B86;
}
.top__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 9.6rem 1fr;
  -ms-grid-columns: max-content 9.6rem 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9.6rem;
     -moz-column-gap: 9.6rem;
          column-gap: 9.6rem;
}
.top__search {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.top__search-select {
  padding: 1.6rem 1.7rem;
  background: #F3F3F3;
  border: 0.1rem solid #D2D2D2;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top__search-input {
  width: 65.4rem;
  display: block;
  padding: 1.6rem 0 1.6rem 10rem;
}
.top__search-input:focus {
  border: none;
}
.top__search-input-icon {
  position: absolute;
  top: 50%;
  left: 14%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.top__search-icon {
  position: absolute;
  top: 50%;
  right: 21%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.top__img {
  grid-column: 2/-1;
  height: 34.6rem;
}

.container {
  max-width: 129.4rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title-first {
  color: white;
}
.title-first__main, .title-first__secondary {
  font-weight: 600;
  font-size: 4rem;
}
.title-first__main {
  line-height: 5.8rem;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.title-first__secondary {
  -webkit-animation-name: rightToLeft;
          animation-name: rightToLeft;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  margin-bottom: 6rem;
}

.title-second {
  font-weight: 500;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}